
{% extends 'crimedata/base.html' %}

{% load repo_tags %}

{% block title %}
<title>CrimeData Repository View</title>
{% endblock %}

{% block content %}

<style type="text/css">
    .column {
    float: left;
    width: 30%;
    padding: 10px;
}

.column_audio {
    float: left;
    width: 40%;
    padding: 10px;
}

.column_video {
    float: left;
    width: 30%;
    padding: 10px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}
</style>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Start content -->

                <div class="content">
                    <div class="container">

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="page-title-box">
                                   <ol class="breadcrumb p-0 m-0">
                                    <li>
                                        <a href="#">CrimeData Repository</a>
                                    </li>
                                    <li>
                                        <a href="#">Repositories</a>
                                    </li>
                                    <li class="active">Repository Details 
                                        </li>
                                </ol>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>

                        <!-- end row -->

                        <!-- Wizard with Validation -->

                        <div class="row">
                            <div class="col-sm-12" style="border: 2px solid #f3f3f3;">
                                <div class="card-box" style="border: 0;">
                                    <h4 class="m-t-0 header-title"><b>Repository Details</b></h4>
                                    <p class="text-muted m-b-30 font-13">
                                    </p>

                                    <div id="validation-form">
                                        <div>
                                            <section>
                                                <asp:Label ID="Labelrandom" Visible="false" runat="server" Text="Label"></asp:Label>


                                                <h2>Repository ID : {{repo_obj.repo_id}}</h2>
                                                <br />
                                                
                                                <!-- <div class="col-lg-12">


                                                <div class="col-lg-6">

                                                    <div class="form-group clearfix">
                                                        <label class="col-lg-2 control-label ">Created on </label>
                                                        <div class="col-lg-10 pull-right">
                                                            <asp:Label ID="Labeldt" runat="server" Text="0"></asp:Label>
                                                            <asp:Label ID="Labeltime" runat="server" Text="0"></asp:Label>
                                                        </div>
                                                    </div>

                                                    <hr />
                                                </div>

                                                
                                                </div>
 -->
                                                <div class="row">

                                                    <div class="col-md-10">
                                                        <h2>Add Files</h2>


                                                    <form name="upload_form" action="." method="post" enctype="multipart/form-data" >{% csrf_token %}
                                                        
                                                        <div class="form-group clearfix">
                                                            <label class="col-lg-2 control-label ">Image / Photos </label>
                                                            <div class="col-lg-3">
                                                                <input type="file" name="repo_image" id="repo_image" style="display: inline;" />
                                                            </div>
                                                            
                                                        </div>

                                                        <div class="form-group clearfix">
                                                            <label class="col-lg-2 control-label ">Audio </label>
                                                            <div class="col-lg-3">
                                                                <input type="file" name="repo_audio" id="repo_audio" style="display: inline;" />

                                                            </div>
                                                            
                                                        </div>

                                                        <div class="form-group clearfix">
                                                            <label class="col-lg-2 control-label ">Video / CCTV Fotage </label>
                                                            <div class="col-lg-3">
                                                                <input type="file" name="repo_video" id="repo_video" style="display: inline;" />

                                                            </div>
                                                            
                                                        </div>

                                                        <div class="form-group clearfix">
                                                            <label class="col-lg-2 control-label ">Document </label>
                                                            <div class="col-lg-3">
                                                                <input type="file" name="repo_document" id="repo_document" style="display: inline;" />

                                                            </div>
                                                            
                                                        </div>                                                        

                                                        <div class="form-group clearfix">
                                                            <label class="col-lg-2 control-label ">
                                                            </label>
                                                            <div class="col-lg-3">
                                                                <input type="submit" name="submit_btn" value="Submit" />
                                                                <a href="/repos-list/?page={{data1}}">
                                                                    <input type="button" name="cancel_btn" value="Cancel" style="margin-left: 15px;" />
                                                                </a>

                                                            </div>
                                                            
                                                        </div>
                                                    </form>
                                                    {% if msg %}
                                                        <p style="color: red;">{{msg}}</p>
                                                    {% endif %}
                                                </div>

                                                <div class="col-md-10">
                                                    <div>
                                                        <h2 style="text-align: center;"> Repository Files </h2>

                                                        <!-- Images -->
                                                        <h3>Images</h3>
                                                        {% if repo_images.count != 0 %}
                                                            <div class="row">
                                                                {% for i in repo_images %}
                                                                <div class="column" id="im_{{i.id}}">
                                                                {% if i.repo_image %}
                                                                    {% getmedia_file i.id 'image' as file_path %}
                                                                    <img src="{{file_path}}" width="200" height="200" /> <br />
                                                                    <a href="/download-file/{{i.id}}/?file_type=image"> Download </a>
                                                                {% else %}
                                                                    <p>No image file</p>
                                                                {% endif %}
                                                                </div>
                                                                {% endfor %}
                                                            </div>
                                                        {% else %}
                                                            <p>No images</p>
                                                        {% endif %}

                                                        <!-- Audios -->
                                                        <h3>Audios</h3>
                                                        {% if repo_audios.count != 0 %}
                                                            <div class="row">
                                                                {% for i in repo_audios %}
                                                                <div class="column_audio" id="aud_{{i.id}}">
                                                                {% if i.repo_audio %}
                                                                    {% getmedia_file i.id 'audio' as file_path %}
                                                                    <audio controls>
                                                                        <source src="{{file_path}}" type="audio/mpeg">
                                                                        Your browser does not support the audio tag.
                                                                    </audio> <br />
                                                                    <a href="/download-file/{{i.id}}/?file_type=audio"> Download </a>
                                                                {% else %}
                                                                    <p>No audio file</p>
                                                                {% endif %}
                                                                </div>
                                                                {% endfor %}
                                                            </div>
                                                        {% else %}
                                                            <p>No audios</p>
                                                        {% endif %}

                                                        <!-- Videos -->
                                                        <h3>Videos</h3>
                                                        {% if repo_videos.count != 0 %}
                                                            <div class="row">
                                                                {% for i in repo_videos %}
                                                                    <div class="column_video" id="vid_{{i.id}}">
                                                                     {% if i.repo_video %}
                                                                        {% getmedia_file i.id 'video' as file_path %}
                                                                        <video width="235" height="200" controls>
                                                                            <source src="{{file_path}}" type="video/mp4">
                                                                            Your browser does not support the video tag.
                                                                        </video> <br />
                                                                        <a href="/download-file/{{i.id}}/?file_type=video"> Download </a>
                                                                    {% else %}
                                                                        <p>No video file</p>
                                                                    {% endif %}
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                        {% else %}
                                                            <p>No videos</p>
                                                        {% endif %}

                                                        <!-- Documents -->
                                                        <h3>Documents</h3>
                                                        {% if repo_docs.count != 0 %}
                                                            <div class="row">
                                                                {% for i in repo_docs %}
                                                                    <div class="column" id="doc_{{i.id}}">
                                                                    {% if i.repo_document %}
                                                                    <a href="/download-file/{{i.id}}/?file_type=document"> {{i.repo_document.name|file_name}} </a>
                                                                    {% else %}
                                                                        No Document File
                                                                    {% endif %}
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                        {% else %}
                                                            <p>No documents</p>
                                                        {% endif %}


                                                    </div>
                                                </div>


                                                </div>

                                                <br />
                                                <br />
                                                <br />

                                            </section>

                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End row -->



                </div>
                <!-- container -->
        </div>
        <!-- content -->

{% endblock %}

{% block scripts %}
<script type="text/javascript">
//binds to onchange event of your input field
$('#repo_image').bind('change', function() {

  //this.files[0].size gets the size of your file.
  var file_size = (this.files[0].size);
  //alert(file_size);

});
</script>

<script>
$('#repo_image').change(
    function () {
        var fileExtension = [  'jpg','png','jpeg'];
        if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                alert("Only '.jpg','.png','.jpeg' formats are allowed.");
                $("#repo_image").val("");
                return false;
                }
});
</script>

<script>
$('#repo_audio').change(
    function () {
        var fileExtension = [  'mp3' ];
        if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                alert("Only '.mp3' format is allowed.");
                $("#repo_audio").val("");
                return false;
                }
});
</script>

<script>
$('#repo_video').change(
    function () {
        var fileExtension = [  'mp4' ];
        if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                alert("Only '.mp4' format is allowed.");
                $("#repo_video").val("");
                return false;
                }
});
</script>

<script>
$('#repo_document').change(
    function () {
        var fileExtension = [  'pdf','txt','xls','xlsx','csv' ];
        if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                alert("Only '.txt','.pdf','.xls','.xlsx','.csv' formats are allowed.");
                $("#repo_document").val("");
                return false;
                }
});
</script>

<script type="text/javascript">
    $(document).ready(function(){
        {% for i in repo_videos %}
            {% if i.repo_video %}

            {% else %}
                $('#vid_{{i.id}}').remove();
            {% endif %}
        {% endfor %}

        {% for i in repo_audios %}
            {% if i.repo_audio %}

            {% else %}
                $('#aud_{{i.id}}').remove();
            {% endif %}
        {% endfor %}

        {% for i in repo_images %}
            {% if i.repo_image %}

            {% else %}
                $('#im_{{i.id}}').remove();
            {% endif %}
        {% endfor %}

        {% for i in repo_docs %}
            {% if i.repo_document %}
                
            {% else %}
                $('#doc_{{i.id}}').remove();
            {% endif %}
        {% endfor %}

    });
</script>

{% endblock %}