
{% extends 'crimedata/base.html' %}

{% load repo_tags %}

{% block title %}
<title>CrimeData Repository View</title>
{% endblock %}

{% block content %}

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Start content -->

                <div class="content">
                    <div class="container">

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="page-title-box">
                                   <ol class="breadcrumb p-0 m-0">
                                    <li>
                                        <a href="#">CrimeData Repository</a>
                                    </li>
                                    <li>
                                        <a href="#">Repositories</a>
                                    </li>
                                    <li class="active">Repository Details 
                                        </li>
                                </ol>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>

                        <!-- end row -->

                        <!-- Wizard with Validation -->

                        <div class="row">
                            <div class="col-sm-12" style="border: 2px solid #f3f3f3;">
                                <div class="card-box" style="border: 0;">
                                    <h4 class="m-t-0 header-title"><b>Repository Details</b></h4>
                                    <p class="text-muted m-b-30 font-13">
                                    </p>

                                    <div id="validation-form">
                                        <div>
                                            <section>
                                                <asp:Label ID="Labelrandom" Visible="false" runat="server" Text="Label"></asp:Label>


                                                <h2>Repository ID : {{repo_obj.repo_id}}</h2>
                                                <br />
                                                
                                                <!-- <div class="col-lg-12">


                                                <div class="col-lg-6">

                                                    <div class="form-group clearfix">
                                                        <label class="col-lg-2 control-label ">Created on </label>
                                                        <div class="col-lg-10 pull-right">
                                                            <asp:Label ID="Labeldt" runat="server" Text="0"></asp:Label>
                                                            <asp:Label ID="Labeltime" runat="server" Text="0"></asp:Label>
                                                        </div>
                                                    </div>

                                                    <hr />
                                                </div>

                                                
                                                </div>
 -->
                                                <div class="row">

                                                    <div class="col-md-4">
                                                        <h2>Add Files</h2>


                                                    <form name="upload_form" action="." method="post" enctype="multipart/form-data" >{% csrf_token %}
                                                        
                                                        <div class="form-group clearfix">
                                                            <label class="col-lg-2 control-label ">Image / Photos </label>
                                                            <div class="col-lg-3">
                                                                <input type="file" name="repo_image" id="repo_image" style="display: inline;" />
                                                            </div>
                                                            
                                                        </div>

                                                        <div class="form-group clearfix">
                                                            <label class="col-lg-2 control-label ">Audio </label>
                                                            <div class="col-lg-3">
                                                                <input type="file" name="repo_audio" id="repo_audio" style="display: inline;" />

                                                            </div>
                                                            
                                                        </div>

                                                        <div class="form-group clearfix">
                                                            <label class="col-lg-2 control-label ">Video / CCTV Fotage </label>
                                                            <div class="col-lg-3">
                                                                <input type="file" name="repo_video" id="repo_video" style="display: inline;" />

                                                            </div>
                                                            
                                                        </div>

                                                        <div class="form-group clearfix">
                                                            <label class="col-lg-2 control-label ">Document </label>
                                                            <div class="col-lg-3">
                                                                <input type="file" name="repo_document" id="repo_document" style="display: inline;" />

                                                            </div>
                                                            
                                                        </div>                                                        

                                                        <div class="form-group clearfix">
                                                            <label class="col-lg-2 control-label ">
                                                                <input type="submit" name="submit_btn" value="Submit" />
                                                            </label>
                                                            <div class="col-lg-3">
                                                                <a href="/repos-list/?page={{data1}}">
                                                                    <input type="button" name="cancel_btn" value="Cancel" style="margin-left: 15px;" />
                                                                </a>

                                                            </div>
                                                            
                                                        </div>
                                                    </form>
                                                    {% if msg %}
                                                        <p style="color: red;">{{msg}}</p>
                                                    {% endif %}
                                                </div>

                                                <div class="col-md-8">
                                                    <div>
                                                        <h2> Repository Files </h2>
                                                        <table border="1" class="table table-striped table-bordered table-hover">
                                                            <tr>
                                                            <th>S.No</th>
                                                            <th>Image</th>
                                                            <th>Audio</th>
                                                            <th>Video</th>
                                                            <th>Document</th>
                                                            </tr>
                                                            {% for i in contacts %}
                                                            <tr>
                                                                <td>{{forloop.counter}}</td>
                                                                <td>
                                                                {% if i.repo_image %}
                                                                    {% getmedia_file i.id 'image' as file_path %}
                                                                    <img src="{{file_path}}" width="200" height="200" />
                                                                    <a href="/download-file/{{i.id}}/?file_type=image"> Download </a>
                                                                {% else %}
                                                                    No Image File
                                                                {% endif %}
                                                                </td>
                                                                <td>
                                                                {% if i.repo_audio %}
                                                                    {% getmedia_file i.id 'audio' as file_path %}
                                                                    <audio controls>
                                                                        <source src="{{file_path}}" type="audio/mpeg">
                                                                        Your browser does not support the audio tag.
                                                                    </audio>
                                                                    <a href="/download-file/{{i.id}}/?file_type=audio"> Download </a>
                                                                {% else %}
                                                                    No Audio File
                                                                {% endif %}
                                                                </td>
                                                                <td>
                                                                {% if i.repo_video %}
                                                                    {% getmedia_file i.id 'video' as file_path %}
                                                                    <video width="300" height="200" controls>
                                                                        <source src="{{file_path}}" type="video/mp4">
                                                                        Your browser does not support the video tag.
                                                                    </video>
                                                                    <a href="/download-file/{{i.id}}/?file_type=video"> Download </a>
                                                                {% else %}
                                                                    No Video File
                                                                {% endif %}
                                                                </td>
                                                                <td>
                                                                {% if i.repo_document %}
                                                                    <a href="/download-file/{{i.id}}/?file_type=document"> Download </a>
                                                                {% else %}
                                                                    No Document File
                                                                {% endif %}
                                                                </td>
                                                            </tr>
                                                            {% endfor %}
                                                        </table>

                                                        <!-- pagination -->
                                                        {% if contacts.has_other_pages %}
                                                            <div class="col-md-4">
                                                                <p style="margin-top: 20px;margin-right: 20%;"> Showing {{contacts.start_index}} to {{contacts.end_index}} from {{contacts.paginator.count}} entries </p>
                                                            </div>
                                                            <div class="col-md-4">
                                                              <ul class="pagination" style="margin-top: 3%;margin-right: -133px;">
                                                                {% if contacts.has_previous %}
                                                                  <li><a href="?page={{ contacts.previous_page_number }}">&laquo;</a></li>
                                                                {% else %}
                                                                  <li class="disabled"><span>&laquo;</span></li>
                                                                {% endif %}
                                                                {% for i in contacts.paginator.page_range %}
                                                                  {% if contacts.number == i %}
                                                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                                                  {% else %}
                                                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                                                                  {% endif %}
                                                                {% endfor %}
                                                                {% if contacts.has_next %}
                                                                  <li><a href="?page={{ contacts.next_page_number }}">&raquo;</a></li>
                                                                {% else %}
                                                                  <li class="disabled"><span>&raquo;</span></li>
                                                                {% endif %}
                                                              </ul>
                                                            </div>
                                                    {% endif %}

                                                    </div>
                                                </div>




                                                </div>

                                                <br />
                                                <br />
                                                <br />

                                            </section>

                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End row -->



                </div>
                <!-- container -->
        </div>
        <!-- content -->

{% endblock %}

{% block scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
//binds to onchange event of your input field
$('#repo_image').bind('change', function() {

  //this.files[0].size gets the size of your file.
  var file_size = (this.files[0].size);
  //alert(file_size);

});
</script>

<script>
$('#repo_image').change(
    function () {
        var fileExtension = [  'jpg','png','jpeg'];
        if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                alert("Only '.jpg','.png','.jpeg' formats are allowed.");
                $("#repo_image").val("");
                return false;
                }
});
</script>

<script>
$('#repo_audio').change(
    function () {
        var fileExtension = [  'mp3' ];
        if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                alert("Only '.mp3' format is allowed.");
                $("#repo_audio").val("");
                return false;
                }
});
</script>

<script>
$('#repo_video').change(
    function () {
        var fileExtension = [  'mp4' ];
        if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                alert("Only '.mp4' format is allowed.");
                $("#repo_video").val("");
                return false;
                }
});
</script>

<script>
$('#repo_document').change(
    function () {
        var fileExtension = [  'pdf','txt','xls','xlsx','csv' ];
        if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                alert("Only '.txt','.pdf','.xls','.xlsx','.csv' formats are allowed.");
                $("#repo_document").val("");
                return false;
                }
});
</script>
{% endblock %}