<!DOCTYPE html>
{% load repo_tags %}
<html>
<head>
	<title>Repository View</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="text-align: center;">
	<div>
		<h2>RepositoryID : {{repo_obj.repo_id}}</h2>
	</div>
	<div>
		<form name="upload_form" action="." method="post" enctype="multipart/form-data" >{% csrf_token %}
			Image : 
			<input type="file" name="repo_image" id="repo_image" style="display: inline;" /> <br /> <br />
			Audio : 
			<input type="file" name="repo_audio" id="repo_audio" style="display: inline;" /> <br /> <br />
			Video : 
			<input type="file" name="repo_video" id="repo_video" style="display: inline;" /> <br /> <br />
			<input type="submit" name="submit_btn" />
			<a href="/repos-list/">
				<input type="button" name="cancel_btn" value="Cancel" />
			</a>
		</form>
		{% if msg %}
			<p style="color: red;">{{msg}}</p>
		{% endif %}
	</div>
	<div>
		<h4> Repository Files </h4>
		<table border="1" style="margin-left: 25%;">
			<tr>
			<th>S.No</th>
			<th>Image</th>
			<th>Audio</th>
			<th>Video</th>
			</tr>
			{% for i in contacts %}
			<tr>
				<td>{{forloop.counter}}</td>
				<td>
				{% if i.repo_image %}
					{% getmedia_file i.id 'image' as file_path %}
					<img src="{{file_path}}" width="200" height="200" />
					<a href="/download-file/{{i.id}}/?file_type=image"> Download </a>
				{% else %}
					No Image File
				{% endif %}
				</td>
				<td>
				{% if i.repo_audio %}
					{% getmedia_file i.id 'audio' as file_path %}
					<audio controls>
						<source src="{{file_path}}" type="audio/mpeg">
						Your browser does not support the audio tag.
					</audio>
					<a href="/download-file/{{i.id}}/?file_type=audio"> Download </a>
				{% else %}
					No Audio File
				{% endif %}
				</td>
				<td>
				{% if i.repo_video %}
					{% getmedia_file i.id 'video' as file_path %}
					<video width="300" height="200" controls>
						<source src="{{file_path}}" type="video/mp4">
						Your browser does not support the video tag.
					</video>
					<a href="/download-file/{{i.id}}/?file_type=video"> Download </a>
				{% else %}
					No Video File
				{% endif %}
				</td>
			</tr>
			{% endfor %}
		</table>

		<!-- pagination -->
		{% if contacts.has_other_pages %}
            <p style="margin-top: 20px;float: right;margin-right: 20%;"> Showing {{contacts.start_index}} to {{contacts.end_index}} from {{contacts.paginator.count}} entries </p>
		  <ul class="pagination" style="float: right;margin-top: 3%;margin-right: -133px;">
		    {% if contacts.has_previous %}
		      <li><a href="?page={{ contacts.previous_page_number }}">&laquo;</a></li>
		    {% else %}
		      <li class="disabled"><span>&laquo;</span></li>
		    {% endif %}
		    {% for i in contacts.paginator.page_range %}
		      {% if contacts.number == i %}
		        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
		      {% else %}
		        <li><a href="?page={{ i }}">{{ i }}</a></li>
		      {% endif %}
		    {% endfor %}
		    {% if contacts.has_next %}
		      <li><a href="?page={{ contacts.next_page_number }}">&raquo;</a></li>
		    {% else %}
		      <li class="disabled"><span>&raquo;</span></li>
		    {% endif %}
		  </ul>
	{% endif %}

	</div>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
//binds to onchange event of your input field
$('#repo_image').bind('change', function() {

  //this.files[0].size gets the size of your file.
  var file_size = (this.files[0].size);
  //alert(file_size);

});
</script>

<script>
$('#repo_image').change(
    function () {
        var fileExtension = [  'jpg','png','jpeg'];
        if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                alert("Only '.jpg','.png','.jpeg' formats are allowed.");
                $("#repo_image").val("");
                return false;
                }
});
</script>

<script>
$('#repo_audio').change(
    function () {
        var fileExtension = [  'mp3' ];
        if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                alert("Only '.mp3' format is allowed.");
                $("#repo_audio").val("");
                return false;
                }
});
</script>

<script>
$('#repo_video').change(
    function () {
        var fileExtension = [  'mp4' ];
        if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                alert("Only '.mp4' format is allowed.");
                $("#repo_video").val("");
                return false;
                }
});
</script>

</html>